<!DOCTYPE html>
<html>
<head>
	<title>pipe</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	{% block css %}{% endblock %}
</head>
<body>
	{% block header_pre %}{% endblock %}
	{% block header_post %}{% endblock %}

	{% block content_pre %}{% endblock %}
	{% block content %}{% endblock %}
	{% block post_content %}{% endblock %}


</body>
</html>